@model Andrey_8.Models.Cadastro

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Cadastro</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Cliente.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cliente.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cobertura.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cobertura.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NumeroCadastro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NumeroCadastro)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CadastroId }) |
    @Html.ActionLink("Voltar", "Index")
</p>
