@model IEnumerable<Andrey_8.Models.Cadastro>

@{
    ViewBag.Title = "Index";
}
<p></p>

<tr>
    <td>@Html.ActionLink("Clientes", "Index", "Clientes") |</td>
    <td>@Html.ActionLink("Coberturas", "Index", "Coberturas")</td>
</tr>
<p></p>

<h2>Index</h2>
@Html.ActionLink("Create New", "Create")

<p></p>
<table class="table">
    <tr>
        <th>
            <!--@Html.DisplayNameFor(model => model.Cliente.Nome)-->
            Nome do Cliente
        </th>
        <th>
            <!--@Html.DisplayNameFor(model => model.Cobertura.Nome)-->
            Cobertura
        </th>
        <th>
            <!--@Html.DisplayNameFor(model => model.NumeroCadastro)-->
            Numero de Cadastro
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Cliente.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Cobertura.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NumeroCadastro)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CadastroId }) |
            @Html.ActionLink("Details", "Details", new { id=item.CadastroId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.CadastroId })
        </td>
    </tr>
    
}

</table>
